@font-face {
  font-family: "Inter";
  src: url('./Inter-Light.woff');
}

@font-face {
  font-family: "Inter-bold";
  src: url('./Inter-Black.woff');
}

body {
  font-family: 'Inter';
}

.container {
  max-width: 650px;
  width: 100%;
  margin: auto;
}

.modal-container_ {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999999999;
  width:100%;
  max-width: 600px;
}